@model ForumASPMVC.Models.ThreadOne

@{
    ViewData["Title"] = "Details";
}



<style>

    .comments-area {
        background: #f1f9ff;
        padding: 50px 30px;
        margin-top: 50px;
    }

    .comments-area h4 {
        text-align: center;
        margin-bottom: 50px;
        color: #002347;
        font-size: 18px;
    }

    .comments-area h5 {
        font-size: 16px;
        margin-bottom: 0px;
    }

    .comments-area a {
        color: #002347;
    }

    .comments-area .comment-list {
        padding-bottom: 30px;
    }

        .comments-area .comment-list:last-child {
            padding-bottom: 0px;
        }

        .comments-area .comment-list.left-padding {
            padding-left: 25px;
        }

    .comments-area .thumb {
        margin-right: 20px;
    }

    .comments-area .date {
        font-size: 13px;
        color: #777777;
        margin-bottom: 13px;
    }

    .comments-area .comment {
        color: #777777;
        margin-bottom: 0px;
    }

</style>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Text)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Text)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Created)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Created)
        </dd>
    </dl>
</div>


@if (Model.Comments.Count()>0)
{
    <h6>@Model.Comments.Count() comments</h6>
    <div class="row">
        <div class="col-lg-12">
            <div class="comments-area">
                @foreach (var item in Model.Comments)
                {   
                    <div class="comment-list">
                        <div class="single-comment justify-content-between d-flex">
                            <div class="user justify-content-between d-flex">
                                <div class="thumb">
                                    <i class="fa fa-comment" style="font-size:30px; width:30px;"></i>
                                </div>
                                <div class="desc">
                                <h5>@Html.DisplayFor(modelItem => item.Title)</h5>
                                    <p class="date">@Html.DisplayFor(modelItem => item.Created) </p>
                                    <p class="comment">
                                        @Html.DisplayFor(modelItem => item.Text)
                                    </p>
                                </div>
                            </div>
                            <div class="reply-btn">
                                <a href="" class="btn-reply text-uppercase">reply</a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
}
else
{
    <h6>There is no comment available for this topic</h6>
}
